
@media (max-width: 760px) {
  .contact form {
    width: 100%;
  }


}

.contact {
  margin: 0 auto;
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: column;
}

.contact h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 150px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
  width: 40%;
  color: var(--text-color);
}

.contact input, .contact textarea {
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.1);
  width: 80%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-color);
  border-image: initial;
  padding: 4%;
  border-radius: 15px;
  outline: none;
  color: var(--text-color);
}

.contact textarea {
  height: 160px;
  color: var(--text-color);
}