.hero {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero img {
  height: 30%;
  margin-bottom: 0;
  position: absolute;
  top: 95px;
  &:hover {
    transform: skew(10deg, 7deg);
  }
}

.hero .btn-primary  {
  background-color: var(--text-color);
  border: 1px solid lightgray;
  color: #d6b0ff;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}