.projects {

  border: none;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  width: 95%;
  margin: 0 auto;
}



.project-card {

  width: 95%;
  border-radius: 4px;
  margin: 0.8rem;
  gap: 1.5rem;
  padding: 1rem;
}



.projects h2 {
  opacity: 1;
  letter-spacing: -.5px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 20px;

}



.project-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;

}