:root {
  --bg-color: linear-gradient(#d6b0ff, #fff);
  --text-color: #121212;
  --primary-color: #4e7dff;
}

[data-theme="dark"] {
  --bg-color: linear-gradient(#121212, #777);
  --text-color: #f5f5f5;
  --primary-color: #90caf9;
}

@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/projects";
@import "./components/contact";
@import "./components/footer";

* {
  box-sizing: border-box;
}

.root {
  height: 100vw;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 80vw;
}

.btn-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

/*glassmorphism*/
.project-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}
