:root {
  --bg-color: pink; //#ffffff;
  --text-color: #222222;
  --primary-color: #4e7dff;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --primary-color: #90caf9;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
